    <!-- Download Section -->
    <section id="courses" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Courses &amp; Workshops</h2>
                    <p>We are now taking bookings for Spring/Summer 2015. Places are capped at 12 per workshop but the most popular ones run regularly. If you want to book a private workshop for your company or organisation please <a href="#contact" class="page-scroll">get in touch.</a> </p>
                    <a href="http://www.eventbrite.ie/e/introduction-to-arduino-a-three-week-course-tickets-16429348624" class="btn btn-default btn-lg" target="_blank">Arduino Course</a>
                </div>
            </div>
        </div>
    </section>