    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading raspberry">The Robot Foundry</h1>
                        <p class="intro-text raspberry">Building Robots, Developing People.</p>
                        <a href="#about" class="btn btn-circle page-scroll" style="border:2px solid black">
                            <i class="fa fa-angle-double-down animated raspberry"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>